
.icon-camera:before { content: '\e800'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-th-large:before { content: '\e802'; } /* '' */
.icon-floppy:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-clock:before { content: '\e805'; } /* '' */
.icon-pause:before { content: '\e806'; } /* '' */
.icon-picture:before { content: '\e807'; } /* '' */
.icon-cogs:before { content: '\e808'; } /* '' */
.icon-th:before { content: '\e809'; } /* '' */
.icon-download:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-cog-alt:before { content: '\e80d'; } /* '' */
.icon-address-book:before { content: '\e80e'; } /* '' */
.icon-key:before { content: '\e80f'; } /* '' */
.icon-calendar-1:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-chart-bar:before { content: '\e812'; } /* '' */
.icon-user-add:before { content: '\e813'; } /* '' */
.icon-chart-bar-1:before { content: '\e814'; } /* '' */
.icon-star-filled:before { content: '\e815'; } /* '' */
.icon-info:before { content: '\e816'; } /* '' */
.icon-users:before { content: '\e817'; } /* '' */
.icon-help-circled:before { content: '\e818'; } /* '' */
.icon-inbox:before { content: '\e819'; } /* '' */
.icon-cafe:before { content: '\e81a'; } /* '' */
.icon-hammer:before { content: '\e81b'; } /* '' */
.icon-wrench:before { content: '\e81c'; } /* '' */
.icon-tags:before { content: '\e81d'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-won:before { content: '\f159'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-calendar-plus-o:before { content: '\f271'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-calendar:before { content: '\f4c5'; } /* '' */
